<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.travis.dao.VideoInfomationMapper" >
  <resultMap id="BaseResultMap" type="com.travis.entity.VideoInfomation" >
    <id column="video_id" property="videoId" jdbcType="INTEGER" />
    <result column="video_name" property="videoName" jdbcType="VARCHAR" />
    <result column="video_url" property="videoUrl" jdbcType="VARCHAR" />
    <result column="video_image" property="videoImage" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    video_id, video_name, video_url, video_image, type_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from video_infomation
    where video_id = #{videoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from video_infomation
    where video_id = #{videoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.travis.entity.VideoInfomation" >
    insert into video_infomation (video_id, video_name, video_url, 
      video_image, type_id)
    values (#{videoId,jdbcType=INTEGER}, #{videoName,jdbcType=VARCHAR}, #{videoUrl,jdbcType=VARCHAR}, 
      #{videoImage,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.travis.entity.VideoInfomation" >
    insert into video_infomation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="videoId != null" >
        video_id,
      </if>
      <if test="videoName != null" >
        video_name,
      </if>
      <if test="videoUrl != null" >
        video_url,
      </if>
      <if test="videoImage != null" >
        video_image,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="videoId != null" >
        #{videoId,jdbcType=INTEGER},
      </if>
      <if test="videoName != null" >
        #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null" >
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoImage != null" >
        #{videoImage,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.travis.entity.VideoInfomation" >
    update video_infomation
    <set >
      <if test="videoName != null" >
        video_name = #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null" >
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoImage != null" >
        video_image = #{videoImage,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
    </set>
    where video_id = #{videoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.travis.entity.VideoInfomation" >
    update video_infomation
    set video_name = #{videoName,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      video_image = #{videoImage,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER}
    where video_id = #{videoId,jdbcType=INTEGER}
  </update>
  
    <select id="selectAll" resultMap="BaseResultMap" parameterType="com.travis.entity.VideoInfomation" >
    select 
    t1.video_id,t1.video_name,t1.video_url,t1.video_image,t1.type_id,t2.type_name
    from video_infomation t1
    left join video_type t2 on t2.type_id=t1.type_id
    where 1=1
    <if test="videoId != null" >
       and video_id = #{videoId,jdbcType=INTEGER}
      </if>
        <if test="videoName != null" >
       and video_name = #{videoName,jdbcType=VARCHAR}
      </if>
   
  </select>
</mapper>